<html>

<head>
  <title>Confirm register for V.I.P Birthday 2023</title>
  <style>
    body {
      font-family: 'Times New Roman', Times, serif;
      margin: 0 auto;
      color: #000;
    }

    .container {
      max-width: 100%;
      margin: 0 auto;
      padding: 26px;
      background-color: #e8e8e8;
    }

    .content-container {
      padding: 0 20px 20px 20px;
    }

    .email-container {
      max-width: 600px;
      margin: 0 auto;
      background: #fff;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 10px;
    }

    p {
      margin: 0 16px 0 0 ;
      /* margin-bottom: 16px; */
      line-height: 1.5;
      font-size: 17px;
      color: #000
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 16px;
    }

    table td {
      padding: 6px;
      font-size: 16px;
      width:
        30%;
      color: #000
    }

    table tr:last-child td {
      border-bottom: none;
    }

    a {
      color: #007bff;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    div.logo-container {
      text-align: center;
      border-radius: 10px;
      overflow:
        hidden;
    }

    div.logo-container img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    div.button-container {
      text-align: center;
    }

    a.button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border-radius: 4px;
      text-decoration: none;
    }

    .btn-fanpage {
      margin: 20px 0;
      display: inline-block;
      padding: 12px 42px;
      border-radius:
        11px;
      background: #3bb4f0;
      ;
      color: #f9f9f9 !important;
      font-size: 14px;
    }

    form {
      max-width: 400px;
      margin: 0 auto;
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input[type="text"],
    input[type="tel"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom:
        16px;
    }

    button[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button[type="submit"]:hover {
      background-color: #45a049;
    }

    .footer-container {
      margin-top: 34px;
    }

    .footer {
      width: 564px;
      margin: 0 auto;
    }

    .footer p {
      font-size: 14px;
    }
  </style>
</head>

<body>
  <div class='container'>
    <div class='email-container'>
      <div class='logo-container'><img src='https://i.imgur.com/0dA03AY.png' alt='Logo' style='width: 600px;height: auto;object-fit: cover;' />
        <p style='font-size: 20px; margin: 14px 6px;'>Xác nhận đăng kí tham gia sinh nhật 12 tuổi
          V.I.P thành công</p><span style='color: #968b8b; font-size: 17px'>Chào mừng {{ name }} đến với V.I.P 12th Birthday
          Party</span><br /><a class='btn-fanpage' href='https://www.facebook.com/clbtienganhV.I.P.haui'>Fanpage</a>
      </div>
      <div class='content-container'>
        <h2 style='font-size: 19px; color: #000'>{{ name }} thân mến!</h2>
        <p>Chào mừng bạn đã trở thành một thành viên trong sự kiện “V.I.P 12th
          Birthday Party”. V.I.P hi vọng bạn sẽ có những phút giây thật đáng
          nhớ trong suốt quá trình diễn ra sự kiện ở sinh nhật lần này.</p><br />
        <p>Dưới đây là thông tin của bạn:</p>
        <table>
          <tr>
            <td style='width: 28%'>Họ và tên:</td>
            <td> {{ fullName }}</td>
          </tr>
          <tr>
            <td style='width: 28%'>Số điện thoại:</td>
            <td> {{ phoneNumber }}</td>
          </tr>
        </table><br />
        <p>Thông tin sự kiện:</p>
        <table>
          <tr>
            <td style='width: 28%'>Tên:</td>
            <td>V.I.P 12th Birthday Party</td>
          </tr>
          <tr>
            <td style='width: 28%'>Ngày tổ chức:</td>
            <td>30/09/2023</td>
          </tr>
          <tr>
            <td style='width: 28%; height: 85px;'>Timeline:</td>
            <td>
              <img style='width: 100%;' src='https://i.imgur.com/yKJbbwd.png' alt=''>
            </td>
          </tr>
          <tr>
            <td style='width: 28%'>Địa điểm:</td>
            <td>86C Văn Tiến Dũng, Nam Từ Liêm, Hà Nội</td>
          </tr>
          <tr>
            <td style='width: 28%'>Link google maps:</td>
            <td><a href='https://maps.app.goo.gl/YQYPjyNZvU1rk9Xj9?g_st=ic'>Xem tại đây</a></td>
          </tr>
        </table><br />
        <p style="margin-bottom: 20px;">Mã QR Checkin của bạn:</p>
        <div style='width: 100%; text-align: center;'>
          <img style='border: 1px solid #968a8a; height: 200px;'
            src='https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl={{userId}}&choe=UTF-8' alt='QR code' />
        </div>
        <p>—------</p>
        <p>Hẹn gặp lại bạn tại “V.I.P 12th Birthday Party”. Chúc bạn một ngày
          tốt lành.</p><br />
      </div>
    </div>
    <div class="footer-container">
      <div class="footer">
        <p style='font-weight: bold'>Mọi thắc mắc xin vui lòng liên hệ thông
          tin liên lạc sau:
        </p>
        <p>Trường Đại học Công nghiệp Hà Nội (cơ sở 1)</p>
        <p>Fanpage:
          <a href='https://www.facebook.com/clbtienganhV.I.P.haui'>https://www.facebook.com/clbtienganhV.I.P.haui</a>
        </p>
        <p>Email:
          <a href='mailto:clbtienganhvip@gmail.com'>clbtienganhvip@gmail.com</a>
        </p>
        <p>Chủ nhiệm: Đặng Đức Duy (0816269002)</p>
      </div>
    </div>
  </div>
</body>

</html>